<h1><u>Waiter Availability</u></h1>
<form class="" method="post" action="">
  <ul>
    <li>{{username}}</li>
  </ul>
  {{waiterName.days.Monday}}
  {{waiterName.days.Tuesday}}
  {{waiterName.days.Wednesday}}
  {{waiterName.days.Thursday}}
  {{waiterName.days.Friday}}
  {{waiterName.days.Saturday}}
  {{waiterName.days.Sunday}}
  <input type="checkbox" name="days" value="Monday" {{#if waiterName.days.Monday}} checked {{/if}}>Monday<br>
  <input type="checkbox" name="days" value="Tuesday" {{#if waiterName.days.Tuesday}} checked {{/if}}>Tuesday <br>
  <input type="checkbox" name="days" value="Wednesday" {{#if waiterName.days.Wednesday}} checked {{/if}}>Wednesday <br>
  <input type="checkbox" name="days" value="Thursday" {{#if waiterName.days.Thursday}} checked {{/if}}>Thursday <br>
  <input type="checkbox" name="days" value="Friday" {{#if waiterName.days.Friday}} checked {{/if}}>Friday<br>
  <input type="checkbox" name="days" value="Saturday" {{#if waiterName.days.Saturday}} checked {{/if}}>Saturday<br>
  <input type="checkbox" name="days" value="Sunday" {{#if waiterName.days.Sunday}} checked {{/if}}>Sunday
  <br></br>
  <input type="submit" value="Submit" id="button">
</form>
<br> {{output}}
