<form class="" method="get" action="/days">
  <h1>Key</h1>
  <table align="center">
    <tr>
      <th style="background-color: green;">Enough Waiters</th>
      <th style="background-color: Orange;">Still Need Waiter(s)</th>
      <th style="background-color: Red;">Too Much Waiters</th>
    </tr>
  </table><br>
  <h1>Weekly schedule</h1>
  <table align="center">
    <thead>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <ul>
      <td class="{{color1}}">
        {{#each monday}}
          <li>{{this}}</li>
        {{/each}}
      </td>

      <td class="{{color2}}">
        {{#each tuesday}}
          <li>{{this}}</li>
        {{/each}}
      </td>
      <td class="{{color3}}">

        {{#each wednesday}}
          <li>{{this}}</li>
        {{/each}}

      </td>
      <td class="{{color4}}">

        {{#each thursday}}
          <li>{{this}}</li>
        {{/each}}

      </td>
      <td class="{{color5}}">

        {{#each friday}}
          <li>{{this}}</li>
        {{/each}}

      </td>
      <td class="{{color6}}">

        {{#each saturday}}
          <li>{{this}}</li>
        {{/each}}

      </td>
      <td class="{{color7}}">

        {{#each sunday}}
          <li>{{this}}</li>
        {{/each}}
      </td>
    </ul>
  </table>
</form><br>
<form class="" method="post" action="/reset">
  <button type="button" class="btn btn-primary" id="reset">RESET</button>
</form>
<br>
<form class="" method="get" action="/logout">
<button type="submit" class="btn btn-primary">LOGOUT</button>
</form>
