<form class="" method="get" action="/days">
  <table align="center">
    <thead>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <ul>
      <td class="{{color1}}">
        {{#each monday}}
          <li>{{this}}</li>
        {{/each}}
      </td>

      <td class="{{color2}}">
        {{#each tuesday}}
          <li>{{this}}</li>
        {{/each}}
      </td>
      <td class="{{color3}}">

        {{#each wednesday}}
          <li>{{this}}</li>
        {{/each}}

      </td>
      <td class="{{color4}}">

        {{#each thursday}}
          <li>{{this}}</li>
        {{/each}}

      </td>
      <td class="{{color5}}">

        {{#each friday}}
          <li>{{this}}</li>
        {{/each}}

      </td>
      <td class="{{color6}}">

        {{#each saturday}}
          <li>{{this}}</li>
        {{/each}}

      </td>
      <td class="{{color7}}">

        {{#each sunday}}
          <li>{{this}}</li>
        {{/each}}
      </td>
    </ul>
  </table>
</form>
<form class="" method="post" action="/reset">
  <input type="submit" value="RESET" id="reset">
</form>
